@model Vaquinha.Domain.ViewModels.DoacaoViewModel

@{
    ViewData["Title"] = "Doar agora";
}

<h2>Doe agora</h2>

<form class="form-horizontal" asp-action="Create" asp-controller="Doacoes" method="post">

    <label asp-for="Valor" class="control-label"></label>
    <input asp-for="Valor" id="valor" placeholder="Valor doação" class="form-control" />
    <input asp-for="DadosPessoais.Nome" placeholder="Nome Completo" class="form-control" />
    <input asp-for="DadosPessoais.Email" placeholder="Email" class="form-control" />
    <textarea asp-for="DadosPessoais.MensagemApoio" class="form-control" rows="3" maxlength="200"
        placeholder="Deixa aqui uma mensagem de apoio" data-val="true"></textarea>
     <label asp-for="DadosPessoais.Anonima" class="control-label"></label>
    <input asp-for="DadosPessoais.Anonima" />
    
    <input asp-for="EnderecoCobranca.TextoEndereco" maxlength="100" placeholder="Endereço" class="form-control small" />
    <input asp-for="EnderecoCobranca.Numero" placeholder="Número" class="form-control small" />
    <input asp-for="EnderecoCobranca.Cidade" placeholder="Cidade" class="form-control small" />
    <input asp-for="EnderecoCobranca.Estado" placeholder="Estado" id="estado" class="form-control small" />
    <input asp-for="EnderecoCobranca.CEP" id="cep" placeholder="CEP" class="form-control small" />
    <input asp-for="EnderecoCobranca.Complemento" placeholder="Complemento" class="form-control small" />
    <input asp-for="EnderecoCobranca.Telefone" id="telefone" placeholder="Telefone" class="form-control small" />
    
    <legend>Dados para pagamento</legend>
    <input asp-for="FormaPagamento.NomeTitular" placeholder="Nome do Titular" class="form-control" />
    <input asp-for="FormaPagamento.NumeroCartaoCredito" id="cardNumber" placeholder="Numero do Cartão" class="form-control" />
    <input asp-for="FormaPagamento.Validade" id="validade" placeholder="Data de validade" class="form-control small" />

    <br>
    <button value="Doar" class="btn btn-primary">Cadastrar Doação</button>

</form>
